@font-face {
  font-family: CostaRica;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/CostaRica/CostaRica-Regular.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

html, body, .background {
  background-color: #212121;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
