 
@font-face {
  font-family: CostaRica;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/CostaRica/CostaRica-Regular.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
