@font-face {
  font-family: CostaRica;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/CostaRica/CostaRica-Regular.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

html, body {
  background-color: #212121;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

center {
  width: 100%;
  height: 100%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

#name {
  font-family: CostaRica;
  color: #35BF5C;
  font-size: calc(30px + 4.5vw);
}

#title {
  font-family: Montserrat;
  color: #EEEEEE;
  font-size: calc(10px + 1.5vw);
}

.button {
  margin: 25px;
  background-color: #35BF5C;
  border: none;
  font-size: 2.5em;
  padding: 15px;
}
