html {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 1em;
  background-color: #212121;
  color: #eeeeee;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  max-width: 880px;
  text-align: center;
}

main {
  margin: auto;
  padding: 40px;
  max-width: 650px;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #35bf5c;
  font-family: Courier, monospace;
}

hr {
  color: #454545;
}

a {
  color: #35bf5c;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > .row {
  flex: 1 1 0;
  display: flex;
}

.container > .row > * {
  flex: 1 1 0;
}

.button {
  font-size: 1.1em;
  text-align: center;
  background-color: #454545;
  color: white;
  padding: 10px 20px;
  margin: .4em;
  border-radius: 4px;
  text-decoration: none;
}

.button > img {
  /* #35bf5c in https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(100%) sepia(3%) saturate(715%) hue-rotate(218deg) brightness(116%) contrast(87%);
  /*filter: invert(54%) sepia(92%) saturate(339%) hue-rotate(84deg) brightness(95%) contrast(94%);*/
  max-height: 32px;
  max-width: 32px;
}

.button:hover {
  background-color: #35bf5c;
}

.button:hover > img {
  /* #212121 in https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(0%) sepia(17%) saturate(3753%) hue-rotate(341deg) brightness(79%) contrast(74%);
}

.stretched-and-reversed {
  transform: scaleY(-1) scaleX(1.8);
}

.giant {
  color: #35bf5c;
  font-size: 8em;
  font-weight: bold;
  line-height: 0;
  margin: 2rem;
}
