body {
  font-family: Open Sans, sans-serif;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 15px;
  background-color: #212121;
  color: #eeeeee;
  padding: 0 10px
}

h1, h2, h3 {
  color: #35bf5c;
  font-family: Courier, monospace;
  line-height: 1;
}

a {
  color: #35bf5c;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container > .row {
  min-width: 50%;
  flex-grow: 1;
  display: flex;
}

.container > .row > * {
  width: 50%;
  flex-grow: 1;
}

.button {
  text-align: center;
  background-color: #454545;
  color: white;
  padding: 15px 25px;
  margin: .4em;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2em;
}

.button > img {
  /* #35bf5c in https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(54%) sepia(92%) saturate(339%) hue-rotate(84deg) brightness(95%) contrast(94%);
  max-height: 32px;
  max-width: 32;
}

.button:hover {
  background-color: #35bf5c;
}

.button:hover > img {
  /* #212121 in https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(0%) sepia(17%) saturate(3753%) hue-rotate(341deg) brightness(79%) contrast(74%);
}
