<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/blogpost.css">
    <link href="https://unpkg.com/prismjs@1.29.0/themes/prism-okaidia.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9XR1EZWLY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Z9XR1EZWLY');
    </script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Last updated: {{ page.date.toDateString() }}</p>
    {{ content | safe }}
  </body>
</html>
