<!doctype html>
<html lang="en">
  <head>
    <title> blog /{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Emiliano Ruiz Carletti">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/styles/global.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9XR1EZWLY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Z9XR1EZWLY');
    </script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
